@import url('https://fonts.googleapis.com/css2?family=Chango&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+20&family=Michroma&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Rubik+80s+Fade&family=Rubik+Iso&family=Rubik+Lines&family=Rubik+Vinyl&family=Russo+One&family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 12px;
    text-align: center;
}

body {
    background: black;
    padding: 1rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}


p {
    font-size: 2em;
    line-height: 1.4;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h1 {
    font-size: 4em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h2 {
    font-size: 3.5em;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(43, 170, 43);
}

h3 {
    font-size: 3em;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h4 {
    font-size: 2.5em;
    font-style: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    float: left;
    color: rgb(192, 27, 192);
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.topnav a.icon {
    float: right;
    color: rgb(192, 27, 192);
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.topnav a:hover {
    color: rgb(43, 170, 43);
}

#myLinks a {
    color: rgb(200, 228, 200);
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-top: 1.5em;
    padding-left: 6em;
}

#myLinks a:hover {
    color: rgb(43, 170, 43);
}



.set-up {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.set-up a {
    list-style: none;
    text-decoration: none;
}


.icon-overlay {
    position: relative;
    display: inline-block;
    width: 16rem;
    height: 16rem;
    text-align: center;
}

.icon-overlay i {
    font-size: 16rem;
    color: rgb(43, 170, 43);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: rgb(192, 27, 192);
    font-family: "Silkscreen", sans-serif;
    font-size: 2.2rem;
}


.icon i {
    font-size: 2.5em;
}

.active {
    margin-top: 0.8em;
    font-size: 2.5em;
}








@media (max-width: 48rem) {
    html {
        font-size: 11px;
    }

    .topnav a {
        font-size: 1.1em;
    }

    #myLinks a {
        font-size: 1em;
        padding: 1em;
        padding-top: 1em;
    }

    h1 {
        line-height: 1.5em;
    }

    h3 {
        font-size: 2em;
    }

    .icon-overlay {
        width: 12rem;
        height: 12rem;
    }

    .icon-overlay i {
        font-size: 12rem;
    }

    .overlay-text {
        font-size: 1.5rem;
        left: 54%;
    }

    .set-up {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (max-width: 30rem) {
    html {
        font-size: 10px;
    }

    .topnav a {
        font-size: 1.1em;
    }

    #myLinks a {
        font-size: 1em;
        padding: 0.8em;
        padding-top: 1em;
    }

    h1 {
        line-height: 1.5em;
    }

    h3 {
        font-size: 2em;
    }

    .icon-overlay {
        width: 9rem;
        height: 9rem;
    }

    .icon-overlay i {
        font-size: 9rem;
    }

    .overlay-text {
        font-size: 1rem;
        left: 53%;
    }

    .set-up {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}