@import url('https://fonts.googleapis.com/css2?family=Chango&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+20&family=Michroma&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Rubik+80s+Fade&family=Rubik+Iso&family=Rubik+Lines&family=Rubik+Vinyl&family=Russo+One&family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 12px;
    text-align: center;
}

body {
    background: black;
    padding: 1rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}


p {
    font-size: 2em;
    line-height: 1.4;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
    line-height: 0.6em;
}

h2 {
    font-size: 3.5em;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(43, 170, 43);
}

h3 {
    font-size: 3em;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h4 {
    font-size: 2.5em;
    font-style: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}


.topE1 ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    line-height: 0.1em;
}