@import url('https://fonts.googleapis.com/css2?family=Chango&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+20&family=Michroma&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Rubik+80s+Fade&family=Rubik+Iso&family=Rubik+Lines&family=Rubik+Vinyl&family=Russo+One&family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 12px;
    text-align: center;
}

body {
    background-color: black;
    padding: 1rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}


p {
    font-size: 2em;
    line-height: 1.4;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
    padding-top: 0.5em;
}

h2 {
    font-size: 3.5em;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(43, 170, 43);
}

h3 {
    font-size: 3em;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(192, 27, 192);
}

h4 {
    font-size: 2.5em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#containdrops {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 6em;
    margin-bottom: 6em;
}

.dropdown-click {
    position: relative;
    display: inline-block;
}


.dropdown-click summary {
    list-style: none;
    background-color: rgb(43, 170, 43);
    color: rgb(200, 228, 200);
    padding: 0.5em 1em;
    border-radius: 0.3em;
    font-size: 2.5rem;
    border: none;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.dropdown-click summary:hover {
    background-color: rgb(43, 170, 43);
    color: rgb(192, 27, 192);
}


.dropdown-click .dropdown-content {
    border-radius: 0.3em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}


.dropdown-content a {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(192, 27, 192);
    text-decoration: none;
    list-style: none;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: rgb(200, 228, 200);
    padding: 0.5em 1em;
    margin: 1em;

}

.dropdown-content a:hover {
    background-color: rgb(192, 27, 192);
    color: rgb(200, 228, 200);
}


.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    float: left;
    color: rgb(192, 27, 192);
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.topnav a.icon {
    float: right;
    color: rgb(192, 27, 192);
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.topnav a:hover {
    color: rgb(43, 170, 43);
}



#myLinks a {
    color: rgb(200, 228, 200);
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin: 1.5em;
    padding-left: 6em;
}

#myLinks a:hover {
    color: rgb(43, 170, 43);
}


.icon i {
    font-size: 2.5em;
}

.active {
    margin-top: 0.8em;
    font-size: 2.5em;
}




@media (max-width: 48rem) {
    html {
        font-size: 11px;
    }

    .topnav a {
        font-size: 1.1em;
    }

    #myLinks a {
        font-size: 1em;
        padding: 0.1em;
        padding-top: 1em;
    }

    #containdrops {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        padding-top: 1em;
    }

    .dropdown-click summary {
        margin: 0.6em;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        font-size: 2.5rem;
    }

    h1 {
        line-height: 1.5em;
    }

    h3 {
        font-size: 2em;
    }
}



@media (max-width: 30rem) {
    html {
        font-size: 10px;
    }

    .topnav a {
        font-size: 1.1em;
    }

    #myLinks a {
        font-size: 1em;
        padding: 0.1em;
        padding-top: 1em;
    }

    #containdrops {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        padding-top: 1em;
    }

    .dropdown-click summary {
        margin: 0.6em;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        font-size: 2.5rem;
    }

    h1 {
        line-height: 1.5em;
    }

    h3 {
        font-size: 2em;
    }
}