/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url('https://fonts.googleapis.com/css2?family=Chango&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+20&family=Michroma&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Rubik+80s+Fade&family=Rubik+Iso&family=Rubik+Lines&family=Rubik+Vinyl&family=Russo+One&family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 12px;
    text-align: center;
}

body {
    background: black;
    padding: 1rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://i.pinimg.com/originals/dd/c3/06/ddc306a6a88b9dd464f0151cb8347479.gif);
    background-size: cover;
    background-position: center;
}


p {
    font-size: 2em;
    line-height: 1.4;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 7em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h2 {
    font-size: 3.5em;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(43, 170, 43);
}

h3 {
    font-size: 3em;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h4 {
    font-size: 2.5em;
    font-style: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.homebuttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    margin: 4em;
}

.moviebutton {
    text-decoration: none;
    margin: 1em;
    padding: 0.5em;
    color: white;
}

.tvbutton {
    text-decoration: none;
    border: 0.2em solid yellow;
    margin: 1em;
    padding: 0.5em;
    color: white;
}







/*
@media screen and (min-width: 50rem) {
    html {
        max-width: 80rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .homebuttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
}
*/