@import url('https://fonts.googleapis.com/css2?family=Chango&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+20&family=Michroma&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Rubik+80s+Fade&family=Rubik+Iso&family=Rubik+Lines&family=Rubik+Vinyl&family=Russo+One&family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 12px;
    text-align: center;
}

body {
    background: black;
    padding: 1rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/glitchy.gif');
    background-size: cover;
    background-position: center;
}


p {
    font-size: 2em;
    line-height: 1.4;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
    margin-bottom: -2em;
}

h1 {
    font-size: 7em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h2 {
    font-size: 3.5em;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h3 {
    font-size: 3em;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(200, 228, 200);
}

h4 {
    font-size: 2.5em;
    font-style: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.homebuttons {
    padding: 0;
    align-items: center;
}

.homebuttons h2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0em;
}

.moviebutton {
    text-decoration: none;
    padding: 0.5em;
    color: white;
}

.tvbutton {
    text-decoration: none;
    padding: 0.5em;
    color: white;
}

.aboutbutton {
    text-decoration: none;
    padding: 0.5em;
    color: white;
}


@media (max-width: 48rem) {
    html {
        font-size: 11px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    .homebuttons h2 {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
    }

    .icon-overlay {
        width: 12rem;
        height: 12rem;
    }

    .icon-overlay i {
        font-size: 12rem;
    }

    .overlay-text {
        font-size: 1.8rem;
        left: 54%;
    }

    .icon-overlay2 {
        width: 10rem;
        height: 9rem;
    }

    .icon-overlay2 i {
        font-size: 10rem;
    }

    .overlay-text2 {
        font-size: 1.6rem;
        left: 58%;
    }

    .icon-overlay3 {
        width: 10rem;
        height: 9rem;
        margin: 1em;
        margin-left: 2em;
    }

    .icon-overlay3 i {
        font-size: 10rem;
    }

    .overlay-text3 {
        font-size: 1.6rem;
        left: 52%;
    }

}


@media (max-width: 30rem) {
    html {
        font-size: 10px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    .homebuttons h2 {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
    }

    .icon-overlay {
        width: 9rem;
        height: 9rem;
    }

    .icon-overlay i {
        font-size: 9rem;
    }

    .overlay-text {
        font-size: 1.5rem;
        left: 53%;
    }

    .icon-overlay2 {
        width: 7.5rem;
        height: 7rem;
    }

    .icon-overlay2 i {
        font-size: 7.5rem;
    }

    .overlay-text2 {
        font-size: 1.2rem;
        left: 57%;
    }

    .icon-overlay3 {
        width: 7.5rem;
        height: 7rem;
        margin: 1em;
        margin-left: 2em;
    }

    .icon-overlay3 i {
        font-size: 7.5rem;
    }

    .overlay-text3 {
        font-size: 1.2rem;
        left: 52%;
    }

}

.icon-overlay {
    position: relative;
    display: inline-block;
    width: 16rem;
    height: 16rem;
    text-align: center;
}

.icon-overlay i {
    font-size: 16rem;
    color: rgb(200, 228, 200);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: rgb(90, 4, 90);
    font-family: "Silkscreen", sans-serif;
    font-size: 2.2rem;
}

/*
.icon-overlay i:hover {
    color: rgb(90, 4, 90);
}

.overlay-text :hover {
    color: ;
}
*/



.icon-overlay2 {
    position: relative;
    display: inline-block;
    width: 13rem;
    height: 11rem;
    text-align: center;
    margin-right: 0.5em;
}

.icon-overlay2 i {
    font-size: 13rem;
    color: rgb(200, 228, 200);
}

.overlay-text2 {
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
    color: rgb(90, 4, 90);
    font-family: "Silkscreen", sans-serif;
    font-size: 3.5rem;
}

.icon-overlay3 {
    position: relative;
    display: inline-block;
    width: 13rem;
    height: 11rem;
    text-align: center;
}

.icon-overlay3 i {
    font-size: 13rem;
    color: rgb(200, 228, 200);
}

.overlay-text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(90, 4, 90);
    font-family: "Silkscreen", sans-serif;
    font-size: 2.5rem;
}